table {
    min-width: 100%;
    padding: 2.5rem 0;
}

table tr td, table tr th {
    padding: 1rem;
    text-align: center;
    border: solid 1px black;
}

.trendline {
    display: flex;
}

.trendline .trendline-img {
    width: 50%;
    max-width: 600px;
    border: solid 1px grey;
}

.trendline .trendline-img img {
    width: 100%;
}

.trendline .paragraph {
    width: 50%;
    display: flex;
    justify-content: center;
}

.trendline .paragraph p {
    padding: 0 0 0 10%;
    line-height: 1.8;
}

.quotes {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 438px;
    background-color: #111111;
    color: #f9f9f9;
    gap: 100px;
}

.quotes h1 {
    font-size: 40px;
    font-style: italic;
    font-weight: 500;
    font-family: "Cardo", serif;
}

.quotes p {
    font-size: 16px;
    font-weight: 600;
}

@media screen and (max-width: 1140px) {
    .trendline {
        flex-direction: column-reverse;
    }
    .trendline .trendline-img {
        width: 100%;
        max-width: 100%;
    }
    .trendline .paragraph {
        width: 100%;
        padding: 0 0 2.5rem 0;
    }
    .trendline .paragraph p {
        padding: 0;
    }
}